<div class="container mt-5">
    <h1 class="text-center text-primary">Welcome to JobGenius</h1>
    <p class="lead text-center">Your ultimate job portal</p>
    <a href="#" class="btn btn-success d-block mx-auto w-25">Get Started</a>
</div>
