@{
    ViewBag.Title = "Job Portal";
}

<div class="jumbotron text-center">
    <h1>Welcome to Job Portal</h1>
    <p>Find your dream job or post job openings</p>

    <a href="/Account/Login" class="btn btn-primary">Login</a>
    <a href="/Account/Register" class="btn btn-success">Sign Up</a>
</div>

<div class="container text-center">
    <h2>Featured Jobs</h2>
    <p>Browse top job listings</p>
    <a href="/Job/Index" class="btn btn-info">View Jobs</a>
</div>
