@model MvcCalculator.Models.CalculatorModel

@{
    ViewBag.Title = "Simple Calculator";
}

<h2>Simple Calculator</h2>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
@using (Html.BeginForm())
{
    

    <div class="d-grid">
        <label>Number 1:</label>
        @Html.TextBoxFor(m => m.Number1, new { type = "number", required = "required" })
    </div>

    <div class="d-grid">
        <label>Number 2:</label>
        @Html.TextBoxFor(m => m.Number2, new { type = "number", required = "required" })
    </div>

    <br />
    <br />

    <button type="submit" class="btn btn-dark" name="operation" value="+">+</button>
    <button type="submit" class="btn btn-danger" name="operation" value="-">-</button>
    <button type="submit" class="btn btn-primary" name="operation" value="*">*</button>
    <button type="submit" class="btn btn-info" name="operation" value="/">/</button>

    <h3>Result: @Model.Result</h3>
}
    </div>
