@{
    ViewData["Title"] = "Job Listings";
}

<div class="container mt-4">
    <h2 class="text-primary">Available Jobs</h2>
    <ul class="list-group">
        <li class="list-group-item">Software Engineer</li>
        <li class="list-group-item">Data Scientist</li>
        <li class="list-group-item">Product Manager</li>
    </ul>
    <a href="/Job/Create" class="btn btn-success mt-3">Post a Job</a>
</div>
